/*** Universal Styles ***/
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}

/*** Header Section ***/
header {
  display: flex;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;  
}

.logo img{
  height: 50px; 
  margin-left: 10px;
}

nav ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-right: 10px;
}

nav li {
  padding: 0 15px;
}

nav a {
  color: seashell;
}

/* Container Section */
.container {
  /*display: flex;*/
  /*flex-direction: column;*/
  position: relative;
  top: 70px;
}

/*** Mission Section ***/
.mission-background {
  display: inline-flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100px;
  width: 1200px;
}

.content h2, h4 {
  margin: 0;
  padding-top: 11px;
}

/*** Tea of the Month Section ***/
.tea-month {
  width: 1000px;
  display: inline-block;
  margin-top: 65px;
}

.tea-month-text h2 {
  margin-bottom: 5px;
}

.tea-month h4 {
  margin-bottom: 25px
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
.image img {
  height: 200px;
  width: 300px;
}

.image h4 {
  padding-top: 10px;
  margin-bottom: 35px;
}

.bizarre-tea {
  margin-left: -331px;
}

/*** Locations Section ***/
.locations-background {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 570px;
  width: 1200px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.locations-text h2 {
  margin-bottom: 15px;
  margin-top: 0;
}

.locations-elements {
  display: flex;
  justify-content: center;
}

.locations-adress {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
}

.locations-adress h4 {
  margin-bottom: 40px;
}

#east {
  margin: 0 40px;
}

/*** Contact Section ***/
.contact-content h2 {
  margin-top: 10px;
  margin-bottom: 40px;
}

/*** Footer Section ***/
footer h5 {
  text-align: left;
  margin-left: 20px;
}