/*** Universal Styles ***/
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}

/*** Header Section ***/
header {
  display: flex;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;  
}

.logo img{
  height: 50px; 
  margin-left: 10px;
}

nav ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-right: 10px;
}

nav li {
  padding: 0 15px;
}

nav a {
  color: seashell;
}

/*** Container Section ***/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}

/*** Mission Section ***/
#mission {
  background-image: url("../images/mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 1200px;
}

.content h2{
  padding: 0;
  margin: 15px 0;
}

.content h4 {
  padding: 0;
  margin-top: 1px;
  margin-bottom: 10px;
}

/*** Tea of the Month Section ***/
#featured {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.tea-month-text h2 {
  margin-bottom: 0;
}

.tea-month-text h4 {
  margin-top: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image img {
  height: 200px;
  width: 300px;
}

.image h4 {
  padding: 0;
  margin-top: 10px;
}

.bizarre-tea {
  margin-left: -331px;
}

/*** Locations Section ***/
#locations {
  background-image: url("../images/locations-background.jpg");
  height: 570px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.locations-text h2 {
  position: absolute;
  top: 1545px;
  left: 597px;
}

.locations-elements {
  display: flex;
  justify-content: center;
}

.locations-adress {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
}

.locations-adress h3 {
  margin-top: 37px;
}

.locations-adress h4 {
  margin-bottom: 40px;
}

#east {
  margin: 0 40px;
}

/*** Contact Section ***/
#contact {
  height: 200px;
}

#contact h2 {
  margin-top: 10px;
  margin-bottom: 40px;
}

/*** Footer Section ***/
footer h5 {
  margin-right: 1050px;
}